<footer> 
	
    <div class = socials>

        <div id = soc>
            <p> Suivez nous sur les réseaux sociaux ! </p>
        </div>		

        <a href="https://pl.linkedin.com/" class= soc-linkedin target="_blank"> </a>
        <a href="https://twitter.com/" class= soc-twitter target="_blank"> </a>
        <a href="https://pl-pl.facebook.com/" class= soc-facebook target="_blank"> </a>

    </div>

</footer>