<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
    <title>User</title>
    
</head>
<body>
    <%- include('partials/nav'); %> 
    <h1></h1>
    <p> <%= message %> </p>
    


    <%- include('partials/footer'); %>
</body>
</html>